<div>
  <h3>
    {{ 'list.Trovati X risultati' | translate: { totalEl: page.totalElements ? page.totalElements : 0 }  | translate }}
    <button *ngIf="page.totalElements" title="{{ 'list.Export CSV' | translate }}" (click)="export()" class="ml-2 mr-2 text-center btn btn-outline-primary rounded-circle btn-circle">
      <fa-icon [icon]="faDownload" transform="grow-2 left-2"></fa-icon>
    </button>
  </h3>
  <div class="row mt-3">
    <div class="col">
      <div class="table-responsive table-area limit-height" [id]="RECORD_SEARCH_RESULTS_ID" (scroll)="onScroll()">
        <table class="table table-hover responsive-table">
          <thead>
            <tr>
              <th>{{'list.Azione' | translate}}</th>
              <th>{{'list.Archivio' | translate}}</th>
              <th>{{'list.Tipo record' | translate}}</th>
              <th>{{'list.ID record' | translate}}</th>
              <th>{{'list.Utente' | translate}}</th>
              <th>{{'list.Data' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of page.content" (click)="loadRecord(result.id)" class="clickable">
              <td><div *ngFor="let action of result.tipoAzione">{{action}}</div></td>
              <td>{{result.archivio}}</td>
              <td>{{result.tipoRecord}}</td>
              <td>{{result.idRecord}}</td>
              <td>{{result.user.username}}</td>
              <td>{{result.data | date:'dd/MM/yyyy, HH:mm:ss'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="loading-message" *ngIf="showLoading">{{'list.Caricamento' | translate}}...</div>
    </div>
  </div>

  <tredi-bs-progressbar
    *ngIf="exportActive"
    (close)="hideExport()"
    [title]="'list.CSV Export' | translate"
    [url]="getExportUrl()">
  </tredi-bs-progressbar>
</div>
